*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style:none ;
}
.header {
    width: 100%;
    height: 100vh;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 10px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.header-logo {
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.header-list {
    display: flex;
    column-gap: 30px;
}

.header-link {
    text-transform: uppercase;
    font-size: 22px;
   font-weight: 700;
   color: white;
}
.header-fantasy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header-cloud {
    position: absolute;
}
.cloud-1 {
    top: 20%;
    left: 8%;
}

.cloud-2 {
    top: 20%;
    left: 40%;
}
.cloud-3 {
    top: 20%;
    right: 15px;
}
.header-boat {
    position: absolute;
    top: 60%;
}
body{
    height: 2000px;
}
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}
.header-title {
    font-size: 100px;
    font-weight: 700;
    text-shadow: 0 0 5px black;
    color: white;
    text-transform: capitalize;
}
.parallax {
}
.parallax-title {
    text-align: center;
    padding: 10px 0;
    background-color: white;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
.parallax-content {
    width: 100%;
    height: 650px;
    background-image: url(../parallax/Parallax_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.parallax-ball {
    position: absolute;
}
.ball_1 {
    width: 400px;
    top: 10%;
    left: 105;
}
.ball_2 {
    top: 10%;
    right: 10%;
}


/* Timer */

.timer {
    background-color: indigo;
    padding-top: 40px;
    padding-bottom: 40px;
}

.timer-cards {
    display: flex;
    justify-content: space-between;

}
.timer-card {
    width: 250px;
    height: 250px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.timer-card__num {
    font-size: 30px;
    font-weight: 700;

}
.timer-card__text {
    font-size: 22px;
    font-weight: 700;
}
.timer-card__btn {
    display: block;
    background-color: indigo;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
/* Timer */